.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;

    nav {
        ul {
            display: flex;
            list-style: none;
            gap: 1rem;
            li {
                a {}
            }
        }
    }
}