.hero-section {
  height: 90dvh;
  width: 100%;
  margin-top: 10px;

  .hero-bg {
    background-color: #54ca84;
    height: 100%;
    display: flex;

    justify-content: space-between;
    flex-direction: column;
    border-radius: 16px;
    padding: 2rem;
    position: relative;

    .hero-content {
      max-width: 600px;
      margin-top: 6rem;
      @media screen and (max-height: 865px) {
            margin-top: 4.5rem;
          }
      h1 {
        color: #f9f9f9;
        font-size: 4rem;
        line-height: 1.2;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
      }

      @media screen and (max-width: 768px) {
        h1 {
          font-size: 3rem;
        }
      }

      p {
        color: #f9f9f9;
        font-size: 1.2rem;
        margin-top: 2rem;
      }
    }

    .hero-columns {
      display: flex;
      gap: 1rem;
      color: #2c3e50;

      @media screen and (max-width: 768px) {
        display: none;
      }

      .hero-column:first-child {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 600px;
        gap: 1rem;
        border: 1px solid #f9f9f9;
        background: #f9f9f9cd;
        border-radius: 16px;
        padding: 1rem;
        img {
          width: 100%;
          height: auto;
          max-width: 270px;
          border-radius: 16px;
          box-shadow: 0 2px 8px rgba(44, 62, 39, 0.12);

          @media screen and (max-height: 900px) {
            max-height: 150px;
            object-fit: cover;
          }

        }
      }
      .hero-column:last-child {
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        border: 1px solid #f9f9f9;
        background: #f9f9f9cd;
        border-radius: 16px;
        padding: 1rem;
      }
      
    }
  }
}
